@use "../main.scss" as m;

// Graph.jsx
#graphContainer {
    position:relative;
    float:left;
    width:70%;
    height:100%;
    background-color: m.$secondary-color;

    #containerDep {
        width:100%;
        height:50%;
        // border:1px solid #000;
    }
    #containerStr {
        width:100%;
        height:50%;
        background-color:#fff;
        // border:1px solid #000;
    }
}