#counter {
  position: absolute;
  width: 100%;
  height: 100%;
  background: skyblue;
}
#counterBox {
  width: 180px;
  margin-top: 50px;
  margin-bottom: 30px;
  background-color: rgb(250, 250, 250);
  text-align: center;
  font-size: 50px;
}

#incrementBtn {
  padding: 8px;
}
#decrementBtn {
  padding: 8px;
  margin-right: 20px;
}

#navb {
  display: flex;
}

#navb-btns {
  display: flex;
}
#updateGuessBtn {
  padding: 8px;
  margin-left: 20px;
}

.tb {
  padding: 15px 10px 0px 0px;
  font-size: 20px;
}
