/* Reset */
body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,tr,th,td,form,fieldset,legend,input,label,select,textarea,button,header,footer,nav,aside,section,article,main,a,span,strong,em,b,i,address {
    margin:0; padding:0;
    box-sizing:border-box;
    font-family:'Inter', sans-serif;
    color:#A0A0A0;
    line-height: 1;
}
html { font-size:0.625em;  }
a { text-decoration:none; }
ul,ol,li { list-style:none; }
img,fieldset { border:none; vertical-align:middle; }
strong,em,b,i,address { font-weight:normal; font-style:normal; }
table { border-collapse:collapse; }


/* Color */
$primary-color: #D4D6D9;
$secondary-color: #EFEFEF;
$active-color: #2F2F33;
$font-color: #000;

/* Font Sizes */
$main-font: 1.2rem;

/* Default Side Padding*/
$side-padding: 10px;
$box-height: 34px;


/* App.tsx */
#mainApp {
    position:fixed;
    top:0; left:0;
    display:grid;
    grid-template-rows: 30px auto 34px;
    width:100%;
    height:100%;
}
#display { display:grid;  }