@use "../main.scss" as m;

@mixin graphName {
  position: relative;
  width: 100%;
  height: 100%;

  svg {
    position: absolute;
    width: 100%;
    height: 100%;
    // background-color: skyblue;
  }
  p {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 2.4rem;
    opacity: 0.5;
    z-index: 0;
  }
}

// Graph.tsx
#graphContainer {
  display: grid;
  // border:4px solid yellow;
  background-color: m.$secondary-color;

  #containerDep {
    @include graphName;
    // background-color: blue;
    // border:4px solid black;
  }
  #containerStr {
    @include graphName;
    // background-color: orange;
    // border:4px solid black;
  }
}
