@use "../main.scss" as m;
$icon-size: 22px;

@mixin buttonStyle {
    display:flex;
    justify-content:center;
    align-items:center;
    height:$icon-size;
    cursor:pointer;
    opacity:1;
}
@mixin hoverButton {
    transition: opacity 0.15s ease-out;
    &:hover{ opacity:0.75; }
}

// Inspect.tsx
#inspect {
    position:relative;
    min-width:120px;
    height:100%;
    display:grid;
    grid-template-rows: m.$headerbox-height auto;
    z-index: 10;
    overflow:hidden;
    background-color: m.$secondary-color;

    #logHead {
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding:6px m.$side-padding;
        background-color:m.$secondary-color;

        #recordButton {
            @include buttonStyle;
            width:$icon-size;
            height:$icon-size;
            border-radius:100%;
            background-color: m.$recOut-color;

            span {
                content:"";
                width:62%;
                height:62%;
                border-radius:100%;
                transition: background-color 0.1s ease;
                background-color: m.$secondary-color;

                @include hoverButton;
                &.active { background-color:m.$recIn-color; }
            }
        }
        #resetButton {
            @include buttonStyle;
            @include hoverButton;
            padding:0 3px;
            border-radius:3px;
            font-size: m.$main-font;
            font-weight:500;
            color: m.$recIn-color;
            opacity:0.4;
            border:0.2rem solid m.$recIn-color;
        }
    }
    #history { 
        width:100%; 
        height:100%; 
        overflow-y:scroll;
        
    }
    
}

