@use "../main.scss" as m;

.logBox{
    font-size: m.$main-font;
    width:100%;
    // border:1px solid #000;

    .logTitle {
        padding:6px m.$side-padding;
        line-height:1.6rem;
        background-color: m.$tertiary-color;
        color: m.$active-color;
        overflow: hidden;
    }
    .logContent{
        padding:10px m.$side-padding;
        overflow:hidden;

        p { 
            line-height:1.8rem; 
            // border:1px solid #000;
        }
    }
}
