@use "../main.scss" as m;

#navbar {
  position: absolute;
  bottom: 0;
  height: m.$footerbox-height;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: m.$primary-color;
}

#navbar-btns {
  display: flex;
  justify-content: space-around;
  width: 80%;

  .tab {
    font-size: m.$main-font;
    align-self: center;
    transition: color 0.15s ease-out;
    &:hover {
      color: m.$active-color;
      cursor: pointer;
    }
    &.active {
      color: m.$active-color;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
