/* Reset */
body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,tr,th,td,form,fieldset,legend,input,label,select,textarea,button,header,footer,nav,aside,section,article,main,a,span,strong,em,b,i,address {
  margin:0; padding:0;
  box-sizing:border-box;
  font-family:'Inter', sans-serif;
  color:#A0A0A0;
  line-height: 1;
  line-height:1;
}
html { font-size:0.625em;  }
a { text-decoration:none; }
ul,ol,li { list-style:none; }
img,fieldset { border:none; vertical-align:middle; }
strong,em,b,i,address { font-weight:normal; font-style:normal; }
table { border-collapse:collapse; }

/* Scroll Bar Styling */
::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 2px solid transparent;
  background-color: rgba(0, 0, 0, 0.6);
  background-clip: content-box;
}

/* Global Style Control */
// Font Size
$main-font: 1.2rem;

// Side Padding
$side-padding: 10px;

// Headbox Size
$headerbox-height: 34px;
$footerbox-height: 40px;

// Colors (LightMode)
$primary-color: #425f94;
$secondary-color: #f3f3f3;
$tertiary-color: #4f7cbf;
$active-color: #ffffff;
$recOut-color: #d4d6d9;
$recIn-color: #2f2f33;

// Colors (DarkMode)
@media (prefers-color-scheme: dark) {
  $secondary-color: #1F1F1F;
  $tertiary-color: #3C3C3C;
  $recOut-color: #3C3C3C;
  $recIn-color: $active-color;

  #graphContainer { background-color: $secondary-color; }
  .inspectBox { background-color: $secondary-color;
    .inspectHead { background-color: $secondary-color; }
  }
  #logboxHead {
    #recordButton { background-color: $recOut-color; 
      span { background-color: $secondary-color;
        &.active { background-color: $recIn-color; }
      }
    }
    #resetButton{
      color: $recIn-color;
      border:0.2rem solid $recIn-color;
    }
  }
  #sigboxHead { h3 {color: $recIn-color;} }
  .logBox { .logTitle {background-color: $tertiary-color;} }
}

/* App.tsx */
#mainApp {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}
#mainDisplay {
  display: grid;
  height: 100%;
  padding-top: $headerbox-height;
  padding-bottom: $footerbox-height;
}
.line {
  background-color: $primary-color;
  &.inspc { cursor: col-resize;}
  &.v { cursor: col-resize; }
  &.h { cursor: row-resize; }
}
