/* Reset */
body,
div,
p,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
table,
tr,
th,
td,
form,
fieldset,
legend,
input,
label,
select,
textarea,
button,
header,
footer,
nav,
aside,
section,
article,
main,
a,
span,
strong,
em,
b,
i,
address {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #a0a0a0;
  line-height: 1;
}
html {
  font-size: 0.625em;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img,
fieldset {
  border: none;
  vertical-align: middle;
}
strong,
em,
b,
i,
address {
  font-weight: normal;
  font-style: normal;
}
table {
  border-collapse: collapse;
}

/* Global Style Control */
// Font Size
$main-font: 1.2rem;

// Default Side Padding
$side-padding: 10px;

// Colors
$primary-color: #d4d6d9;
$secondary-color: #efefef;
$active-color: #2f2f33;
$darkcolor: #2f2f33c6;
// $lightblue: #199fccff;

// Headbox Sizes
$mainheadbox-height: 30px;
$headbox-height: 34px;

/* App.tsx */
#mainApp {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}
#mainDisplay {
  display: grid;
  height: 100%;
  padding-top: $mainheadbox-height;
  padding-bottom: $headbox-height;
}

.line {
  &.inspc {
    background-color: $primary-color;
    cursor: col-resize;
  }
  &.v {
    cursor: col-resize;
  }
  &.h {
    cursor: row-resize;
  }
}
